<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klee.MybatisRelation.mapper.CategoryMapper">
    <resultMap id="myResultMap" type="catgory">
        <id property="id"  column="cid"/>
        <result property="name" column="cname"/>
        <collection property="productList" ofType="product">
            <id property="id" column="pid"/>
            <result property="name" column="pname"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>
    <select id="listCategory" resultMap="myResultMap">
      select  c.id 'cid',c.name 'cname',p.id 'pid',p.name 'pname',p.price
      from  category_ c join  product_ p
      on c.id=p.cid
    </select>
</mapper>