<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klee.MybatisRelation.mapper.OrderitemMapper">

    <insert id="insertOrderitem" parameterType="ordersitem">
        insert  into  ordersitem values (default ,#{oid},#{pid})
    </insert>
    <delete id="deleteOrderitem" parameterType="integer">
        delete  from  ordersitem where  id=#{id}
    </delete>
</mapper>