<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klee.MybatisRelation.mapper.OrdersMapper">
    <resultMap id="myresultMap" type="orders">
        <id property="id" column="oid"/>
        <result property="number" column="number"/>
        <collection property="productList" ofType="product">
            <id property="id" column="pid"/>
            <result property="name" column="pname"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>
    <select id="findOrders" resultMap="myresultMap">
        select o.id oid,o.number ,p.id pid,p.name pname,p.price from orders o
        join ordersitem oi on o.id=oi.oid
        join product_ p on oi.pid=p.id
    </select>
</mapper>