<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klee.MybatisRelation.mapper.ProductMapper">
    <resultMap id="myResultMap" type="product">
        <id property="id" column="pid"/>
        <result property="name" column="pname"/>
        <result property="price" column="price"/>
        <association property="category" javaType="category">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
        </association>
        <collection property="ordersList" ofType="orders">
            <id property="id" column="oid"/>
            <result property="number" column="number"/>
        </collection>
    </resultMap>
    <resultMap id="map1" type="product">
        <id property="id" column="pid"/>
        <result property="name" column="pname"/>
        <result property="price" column="price"/>
        <association property="category" javaType="category">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
        </association>
    </resultMap>
    <select id="listProduct" resultMap="myResultMap">
      select  c.id 'cid',c.name 'cname',p.id 'pid',p.name 'pname',p.price
      from  category_ c join  product_ p
      on c.id=p.cid
    </select>
    <select id="findProduct" resultMap="myResultMap">
        select o.id oid,o.number ,p.id pid,p.name pname,p.price from orders o
        join ordersitem oi on o.id=oi.oid
        join product_ p on oi.pid=p.id
    </select>
    <insert id="insertProducts" parameterType="product">
        insert into product_ values (default ,#{name} ,#{price} ,#{cid})
    </insert>
</mapper>